<a href="https://colab.research.google.com/github/BCODMO/Data-Use-Examples/blob/master/notebooks/erddap_cariaco.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## CARIACO Niskin bottle time series data from BCO-DMO
This notebook walks through building an ERDDAP url for a specific dataset, and plotting a time series of some of the data.

Author: Mathew Biddle (mbiddle@whoi.edu)

In [5]:
!pip install erddapy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: erddapy in /usr/local/lib/python3.10/dist-packages (2.0.1)
Requirement already satisfied: httpx in /usr/local/lib/python3.10/dist-packages (from erddapy) (0.24.1)
Requirement already satisfied: pandas<3,>=0.25.2 in /usr/local/lib/python3.10/dist-packages (from erddapy) (1.5.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.10/dist-packages (from erddapy) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas<3,>=0.25.2->erddapy) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas<3,>=0.25.2->erddapy) (1.22.4)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from httpx->erddapy) (2022.12.7)
Requirement already satisfied: httpcore<0.18.0,>=0.15.0 in /usr/local/lib/python3.10/dist-packages (from httpx->erddapy) (0.17.2)
Requirement already satisfied: idna in /usr/local/lib/python3.10/dist-packages (from httpx->erddapy) (3.4)
Requirement already satisfied: sniffio in /usr/local/lib/python3.10/dist-packages (from httpx->erddapy) (1.3.0)
Requirement already satisfied: h11<0.15,>=0.13 in /usr/local/lib/python3.10/dist-packages (from httpcore<0.18.0,>=0.15.0->httpx->erddapy) (0.14.0)
Requirement already satisfied: anyio<5.0,>=3.0 in /usr/local/lib/python3.10/dist-packages (from httpcore<0.18.0,>=0.15.0->httpx->erddapy) (3.6.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas<3,>=0.25.2->erddapy) (1.16.0)

In [6]:
from erddapy import ERDDAP
import pandas as pd
%matplotlib inline

### Start building the ERDDAP request

In [7]:
server='http://erddap.bco-dmo.org/erddap'

e = ERDDAP(
    server=server,
    protocol='tabledap',
    response = 'csv'
    )

### Go out and get the data for a specific dataset

In this example, we happen to know the dataset ID is **bcodmo_dataset_3093** ([www.bco-dmo.org/dataset/3093](www.bco-dmo.org/dataset/3093)). So, we build the ERDDAP url for the dataset ID of interest. Then, we import the data into a pandas DataFrame.

In [8]:
e.dataset_id = 'bcodmo_dataset_3093'
print(e.get_download_url())
df = e.to_pandas(header=[0,1])
df.describe()

http://erddap.bco-dmo.org/erddap/tabledap/bcodmo_dataset_3093.csv?

,Cruise_number (integer (nnn)),Leg (integer (n)),Day (unitless),Month (unitless),Year (unitless),latitude (degrees_north),longitude (degrees_east),Hydro_cast_no (integer (n)),Depth_target (meters (m)),depth (m),...,q_DOC (dimensionless),TOC (micromolar (\u03bcM)),q_TOC (dimensionless),PrimaryProductivity (milligrams Carbon/meter^3/hour (mgC/m^3/hr)),q_PrimaryProductivity (dimensionless),Chlorophyll (milligrams/meter^3 (mg/m^3)),q_Chlorophyll (dimensionless),Phaeopigments (milligrams/meter^3 (mg/m^3)),q_Phaeopigments (dimensionless),Bio_cast_no (integer (n))
,1,2,8,11,1995,10.5,-64.667,1,1,1.5,...,0,NaN,0,NaN,0,0.0940762,0,0.09,0,2
count,4393.000000,4393.000000,4393.000000,4393.000000,4393.000000,4393.000000,4393.000000,4364.00000,4392.000000,4391.000000,...,4393.000000,452.000000,4393.000000,1658.000000,4393.000000,1828.000000,4393.000000,1827.000000,4393.000000,1838.000000
mean,115.239017,1.152288,9.778056,6.496016,2005.296836,10.501043,-64.666233,1.58593,264.242942,264.688388,...,0.161165,125.672434,0.025267,1.922717,0.001366,0.498997,0.000228,0.427587,0.000228,3.966268
std,67.342454,0.471192,4.333086,3.480501,5.967446,0.012768,0.021966,0.64565,316.692561,316.536402,...,0.367725,406.303160,0.156954,4.034208,0.036936,1.031987,0.015088,0.532791,0.015088,0.338034
min,1.000000,1.000000,1.000000,1.000000,1995.000000,10.492000,-64.735000,0.00000,1.000000,0.349000,...,0.000000,24.891700,0.000000,0.000000,0.000000,0.010000,0.000000,0.020000,0.000000,0.000000
25%,56.000000,1.000000,7.000000,3.000000,2000.000000,10.499000,-64.667000,1.00000,35.000000,35.530500,...,0.000000,56.814200,0.000000,0.095373,0.000000,0.120000,0.000000,0.127131,0.000000,4.000000
50%,114.000000,1.000000,10.000000,6.000000,2005.000000,10.500000,-64.667000,2.00000,160.000000,161.331000,...,0.000000,63.974950,0.000000,0.833984,0.000000,0.200000,0.000000,0.247098,0.000000,4.000000
75%,174.000000,1.000000,12.000000,10.000000,2010.000000,10.500000,-64.666000,2.00000,350.000000,350.208500,...,0.000000,81.595825,0.000000,1.865230,0.000000,0.407875,0.000000,0.529713,0.000000,4.000000
max,232.000000,4.000000,29.000000,12.000000,2017.000000,10.683000,-64.367000,5.00000,1320.000000,1351.000000,...,1.000000,6538.330000,1.000000,65.445000,1.000000,24.781200,1.000000,7.536750,1.000000,6.000000

### Make some plots
Here we assign the 'time' variable to the index, and make time series plots of a few of the variables.

In [9]:
df.index = pd.to_datetime(df['time']['UTC'], infer_datetime_format=True)

df[['Chlorophyll','Alkalinity_mol_kg','NO3_UDO','DOC','Salinity_CTD']].plot(subplots=True, figsize=(15,16));

KeyError: ignored